# TODO: once tests are complete remove these if not used
# for debian: sudo apt-get install libsuitesparse-dev
#             avoids errors when building wheels for scikitsparse (PEP 517)
# for mac: unknown fix
scikit-sparse


# ML libraries for deep declarative networks
torch
torchvision
tensorboard
numpy
scipy # >= 1.9
opencv-python
# Used for jupyter notebooks
jupyterlab
matplotlib
ipykernel
ipywidgets
scikit-image
# misc
torch_tb_profiler
argparse
tqdm

ipyplot

wandb
